.DateSearch {
  height: 100%;
  width: 50%;
  background-size: cover;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.452);
}


.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid salmon;
  width: 50%;
  height: 100%;
}

.datePicker {
  border-radius: 10px;
  height: 2rem;
  outline: none;
  border: none;
  font-weight: 700;
  text-align: center;
}

#searchButton span {
  color: black;
  font-weight: 700;
}

#searchButton {
  width: 90%;
  height: 30%;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
}

h3 {
  margin: 0;
}

.searchHeader {
  text-align: center;
  width: 50%;
  border: 2px solid springgreen;
}


@media screen and (max-width: 800px) {
  .DateSearch {
    height: 25%;
    width: 100%;
    flex-direction: row;
  }

  .search {
    width: 50%;
  }

  .searchHeader {
    width: 50%;
    border: 2px solid springgreen;
  }
}
