.PictureDisplay {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  background-size: contain;
}

.picture {
  width: 80%;
  height: 50%;
}

.pictureTitle {
  font-size: 2rem;
  width: 80%;
  padding: 0;
}

.pictureDate {
  font-size: 1rem;
  height: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
}


figure img{
  width: auto;
  height: 90%;
  margin: 0;
  padding: 0;
}

figure iframe {
  width: 100%;
}

.pictureDescription {
  width: 80%;
}


@media screen and (max-width: 800px) {
  .PictureDisplay {
    height: 75%;
    width: 100%;
  }
}
