.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: rgba(240, 240, 240, 0.75);
}

.header-h1 {
  color: black;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nasa-logo {
  padding: 0;
  margin: 0;
  height: 90%;
}


@media screen and (max-width: 800px) {
  .Header {
    height: 20%;
    width: 100%;
  }

  .header-h1 {
    color: black;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
