.Footer {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.75);
}

.FooterTitle {
  margin: 0;
  color: black;
}

.socials {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

span {
  color: black;
}

a:visited, a {
  padding: 5px;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all ease-in .5s;
}

a:hover {
  transition: all ease-out .3s;
  transform: translateY(-5px);
}
