.Footer {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
}

.socials {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

a:visited, a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: all ease-in .5s;
}

a:hover {
  transition: all ease-out .3s;
  transform: translateY(-5px);
}
